<!DOCTYPE html>
<html>
<head>
  <title>Tweet Details</title>
</head>
<body>
  <h1>Tweet Details</h1>
  <p><strong>Tweet by:</strong> <%= tweet.user.username %></p>
  <p><strong>Tweet:</strong> <%= tweet.text %></p>
  <p><strong>Posted on:</strong> <%= tweet.createdAt %></p>
</body>
</html>
